<section id="gallery" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title-header text-center">
          <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">{{ gallery.heading}}</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">{{ gallery.headingText }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-4" *ngFor="let features of gallery.features">
        <div class="gallery-box">
          <div class="img-thumb">
            <img class="img-fluid" src="{{ features.img }}" alt="">
          </div>
          <div class="overlay-box text-center">
            <a class="lightbox" href="{{ features.img }}">
              <i class="lni-plus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-xs-12">
        <a href="#" class="btn btn-common">{{ gallery.buttonText }}</a>
      </div>
    </div>
  </div>
</section>
